[submodule "hashlink/cpp_embed/external/hashlink"]
	path = hashlink/cpp_embed/external/hashlink
	url = https://github.com/HaxeFoundation/hashlink.git
[submodule "squirrel/squirrel"]
	path = squirrel/squirrel
	url = https://github.com/albertodemichelis/squirrel.git
